//sidebar
// $menuText:#bfcbd9;
// $menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951
$menuText:#D0D0D0;
$menuActiveText:#FFFFFF;

// $menuBg:#304156;
// $menuHover:#263445;
$menuBg:#444;
$menuHover:#4F4F4F;

// $subMenuBg:#1f2d3d;
// $subMenuHover:#001528;
$subMenuBg:#444;
$subMenuHover:#4F4F4F;

$sideBarWidth: 200px;



// 全局颜色配置
$red_word:#FF7B7B;
$success_word:#37C4A4;
$gray_word:#9EADBC;
$danger_word:#f56c6c;

// the :export directive is the magic sauce for webpack
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  redWord:$red_word
}
